.header {
    display: flex;
    align-items: center;
    box-shadow: 1px 10px 16px #00000014;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;  
    color: #333;
}

.header .logo {
    max-height: 32px;
    padding: 15px 0px 15px 0px;
}

.header .title-group {
    padding: 25px;
}

.header .title-group i {
    padding-right: 5px;
}